body{
    background-image: linear-gradient(to right, #bbd2c5, #536976, #292e49) ;
   margin: 0px;
   padding: 5px 5px 500px;
text-align: center;
    
}

#logo{
    padding: 30px;
    margin: auto;
    max-width: 457px;
}
#navegaçao{
display: flex;
}
::marker{
    color: brown;
}
details{
    cursor: pointer;
}
h2, .legenda{
    
    color: rgb(219, 120, 38);
    padding: 9px;
    font-family: 'Silkscreen', cursive;
    font-size: 2rem;
}

#escrita{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px;
    color: rgb(255, 255, 255);
    font-size: 109%;
  
}

.conteudo{
   
    text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 40px;
   color: rgb(58, 40, 23);
   font-size: 150%;
}


img{
    max-width: 480px;
}
#curiosidades-1{
   font-family:  'Silkscreen', cursive;
   
}